@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Raleway&family=Roboto:wght@700&display=swap');

/*Cabeçalho*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-color: #cdcfd6;
  background-image: linear-gradient(
    90deg,
    #a2a6be 0%,
    #888488 46%,
    #414141 100%
  );
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 55px; /**/
}

.instagram {
  max-width: 50px;
  position: absolute;
  left: 2950px;
  bottom: 1px;
  top: 1px;
}

.wpp {
  max-width: 50px;
  position: absolute;
  left: 2850px;
  bottom: 1px;
  top: 1px;
}

/*.email {
  max-width: 50px;
  position: absolute;
  left: 2090px;
  bottom: 1px;
  top: 1px;
}*/

.cabecalho_menu {
  display: flex;
  gap: 450px;
  position: absolute;
  right: 400px;
}

.cabecalho_menu_item {
  font-family: 'Ms Madi' cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 30px;
}

/*conteudo*/

.conteudo {
  border-top: 0.2px solid white;
}

.conteudo_principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo_principal_foto {
  text-align: center;
  max-width: 600px;
  position: absolute;
  top: 230px;
  left: 175px;
}

.conteudo_principal_escrito {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  position: absolute;
  top: 380px;
  left: 855px;
}

.conteudo_principal_escrito_titulo {
  font-family: 'Ms Madi' cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif font-weight 800;
  font-size: 70px;
  color: rgb(26, 26, 26);
}

.conteudo_principal_escrito_subtitulo {
  font-family: 'Ms Madi' cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif font-weight 800;
  font-weight: 400;
  font-size: 35px;
  color: black;
}

.conteudo_principal_escrito_paragrafo {
  font-family: 'Ms Madi' cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif font-weight 800;
  font-weight: 300;
  font-size: 20px;
}

.linguagens {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  left: 800px;
}

.linguagens_miniatura_html {
  max-width: 100px;
  position: absolute;
  top: 710px;
  right: 1450px;
}

.linguagens_miniatura_css {
  text-align: row;
  max-width: 100px;
  position: absolute;
  top: 710px;
  left: 25px;
  right: 1000px;
}

.linguagens_miniatura_js {
  text-align: row;
  max-width: 100px;
  position: absolute;
  top: 710px;
  left: 220px;
}

.linguagens_miniatura_c {
  text-align: row;
  max-width: 100px;
  position: absolute;
  top: 710px;
  left: 420px;
}

.linguagens_miniatura_linux {
  text-align: row;
  max-width: 100px;
  position: absolute;
  top: 710px;
  left: 630px;
}

.botao {
  border: none;
  border-radius: 4440px;
  width: 220px;
  height: 40px;
  position: absolute;
  top: 480px;
  left: 180px;
  background-color: #9b9fb6 0%;
  font-size: large;
  cursor: pointer;
}

.rodape{
  border-top: 0.2px solid white;
  top: 870px;
  position: relative;
}

.skills {
  font-family: 'Ms Madi' cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif font-weight 800;
  font-weight: 300;
  font-size: 40px;
  top: 1020px;
  position: absolute;
  left: 1028px;
}

/*.fale_comigo {
  font-family: 'Ms Madi' cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif font-weight 800;
  position: absolute;
  font-weight: 300;
  font-size: 20px;
  top: 1100px;
}*/

/*@media screen and (min-width: 375px) {
  body {
    background-color: #000000;
    position: absolute;
  }
  .cabecalho_menu {
    display: flex;
    gap: 50px;
    position: absolute;
    left: 150px;
    color: white;
  }
  .cabecalho_menu_item {
    font-family: 'Ms Madi' cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 50px;
    color: white;
  }
  .conteudo {
    border-top: 0.4px solid white;
    position: relative;
    left: 235px;
  }
  .conteudo_principal_foto {
    text-align: center;
    max-width: 500px;
    top: 50px;
    left: 200px;
  }
  .conteudo_principal_escrito {
    gap: 35px;
    position: relative;
    top: 600px;
    left: 100px;
    color: white;
    font-size: 35px;
  }
  .conteudo_principal_escrito_titulo {
    font-size: 75px;
    color: white;
    font-weight: 50px;
    position: relative;
  }
  .conteudo_principal_escrito_subtitulo {
    font-weight: 100;
    font-size: 48px;
    color: white;
    position: relative;
  }
  .linguagens_miniatura_html {
    top: 500px;
    right: 140px;
    position: relative;
  }
  .linguagens_miniatura_css {
    top: 500px;
    left: 10px;
    position: relative;
  }
  .linguagens_miniatura_js {
    top: 500px;
    left: 160px;
    position: relative;
  }
  .linguagens_miniatura_c {
    top: 500px;
    left: 300px;
    position: relative;
  }
  .linguagens_miniatura_linux {
    top: 500px;
    left: 450px;
    position: relative;
  }
  .skills {
    top: 790px;
    font-size: 55px;
    color: white;
    position: relative;
    left: 590px;
  }
  .botao {
    position: absolute;
    top: 1200px;
    left: 290px;
  }
}*/